body {
  margin: 0;
  background-color: #4e4e4e;
  color: #f1f8fb;
  font-family: "poppins", sans-serif;
}

section {
  margin-left: 20px;
  margin-right: 20px;
}

nav {
  display: flex;
  width: 100%;
  background-color: #d94a3d;
  position: fixed;
  top: 0;
}

nav > * {
  display: flex;
  margin: 25px;
  text-decoration: none;
  color: #0f2026;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

nav > a:hover {
  color: #c9d9e1;
}

header {
  margin-top: 100px;
  text-align: center;
}

img {
  width: 85%;
  margin-top: 3em;
}

h1 {
  font-size: 4em;
  color: #f1f8fb;

  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 100;
  color: #c9d9e1;
  margin-top: 0;
}

.skill-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-container {
  width: 10em;
  text-align: center;
  margin: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.skill-container > p {
  margin-top: 0;
  font-size: larger;
}

.icon {
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width: 640px) {
  .skill-container {
    width: 100px;
  }
}
